body{
    margin-left:5%;
    margin-right: 5%;
}
header{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.filter-row{
    display: flex;
    padding-top: 25px;
}

.form-section{
    position: relative;
}
.cards-section{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 200px;
}
.recette-card{

    flex: 0 0 21%;                       /* don't grow, don't shrink, width */
    flex-direction: column;
    border-radius: 5px;
    
    max-height: 300px;
    margin-bottom: 2%;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    overflow: hidden;
    
}
@media all and (max-width: 1280px){

    .recette-card{

        flex: 0 0 30%;                       /* don't grow, don't shrink, width */
        
        
    }
}

@media all and (max-width: 768px){
    .cards-section{

        display: flex;
        flex-direction: column;
        
    }
    .recette-card{

        flex: 0 0 40%;                       /* don't grow, don't shrink, width */
        flex-direction: column;
        border-radius: 5px;
        
        max-height: 300px;
        margin-bottom: 2%;
        
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        overflow: hidden;
        
    }
    .recette-card-image{
        max-height:145px;
    }
}

.recette-card-image-container{
    
    height: 50%;
    width: auto;
    overflow:hidden;
}

.recette-card-image{
    object-fit: fill;
    height: auto;
    width: 100%;
}

.recette-column-infos{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

.recette-row-titre-time{
    display: flex;
    justify-content: space-between;
}

.recette-time{
    align-items: center;
    display: flex;
    width: 70px;
    justify-content: space-around;
}
.recette-row-ingrediants-description{
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    padding-left: 0px;
    
}

.recette-list-ingrediants{
    margin-top: 0px;
    max-width: 45%;
    padding-left: 0;
    
    text-decoration: none;
    list-style-type: none;
}

.recette-titre{
    width: 50%;
}
.recette-description{
    /* display: block;
    width: calc(40%);
    font-size: 12px;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
    display: -webkit-box;
    font-size: 12px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-width: calc(40%);
    overflow: hidden;
    text-overflow: ellipsis;
    height:60px /* fallback */
    
}
.recette-ingrediant{
    font-weight: bold;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}
.recette-ingrediant-quantity{
    font-size: 11px;
    padding-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

li{
    display: flex;
    align-items: center;
    line-height: 1.5;
    
}

.cards-section::after {
    content: "";
    flex: auto;
    max-width: 30%;
    min-width: 21%;
}
