#saved-filter-row{
    display: flex;
    flex-wrap: wrap;
}
.saved-element-filter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 80px;
    
    border-radius: 5px;
    color: white;
    height: 35px;
    margin-right: 50px;
    
}
.saved-element-text{
    padding-right: 15px;
    padding-left: 10px;
}

.saved-ingredient-filter{
    background-color: #3282f7;
}

.saved-appliance-filter{
    background-color: #68d9a4;
}

.saved-ustensils-filter{
    background-color: #ed6454;
}

.time-circle-icon{
    padding-right: 10px;
}