.form-search-container{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.form-search-container i{
    
    position: absolute;
    top: 30%;
    right: 20px;
}
.form-container{
    
    width: 100%;
    position: absolute;

}
.search{
    box-sizing:border-box;
    width: 100%;
    border: none;
    background-color: #e7e7e7;
    border-radius: 2px;
    padding: 10px;
    height: 100%;
    
}
.search:focus{
    outline: none;
    border: none;
}
.search-icon{
    min-width: 10px;
}